<div class="container-gestion-eventos">
  <app-slidebar class="slidebar"></app-slidebar>
  <div class="container">
    <app-gestion-navbar></app-gestion-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
