.container-gestion-eventos {
  display: flex;
  flex-flow: row wrap;
}

.slidebar {
  width: 20%;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 80%;
}
