* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  line-height: 1 !important;
}

@font-face {
  font-family: "icon";
  src: url("./assets/font/icon/icon.eot");
  src: url("./assets/font/icon/icon.eot") format("embedded-opentype"),
    url("./assets/font/icon/icon.woff2") format("woff2"),
    url("./assets/font/icon/icon.woff") format("woff"),
    url("./assets/font/icon/icon.ttf") format("truetype"),
    url("./assets/font/icon/icon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icon";
    src: url("./assets/font/icon.svg") format("svg");
  }
} */

[class^="icon-hogar"]:before,
[class*=" icon-hogar"]:before {
  margin-left: 0.1em !important;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric 
   remove if not needed */
  margin-left: 0.2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-contacto:before {
  content: "\e800";
} /* '' */
.icon-facebook:before {
  content: "\e801";
} /* '' */
.icon-hogar:before {
  content: "\e802";
} /* '' */
.icon-instagram:before {
  content: "\e803";
} /* '' */
.icon-menu:before {
  content: "\e804";
} /* '' */
.icon-moneda:before {
  content: "\e805";
} /* '' */
.icon-salir:before {
  content: "\e806";
} /* '' */
.icon-twitter:before {
  content: "\e807";
} /* '' */
.icon-usuario:before {
  content: "\e808";
} /* '' */
.icon-cerrar:before {
  content: "\e809";
} /* '' */
.icon-configuraciones:before {
  content: "\e80a";
} /* '' */
.icon-eye-off:before {
  content: "\e80b";
} /* '' */
.icon-eye:before {
  content: "\e80c";
} /* '' */

@font-face {
  font-family: Roboto-Bold;
  src: url(assets/font/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(assets/font/Roboto-Regular.ttf);
}

div .text-error {
  font-size: 12px;
  color: red;
  padding: 0 1px;
  margin: 0px;
}
