<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="dirigirHome()">Gestión Eventos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown"></li>
      </ul>
      <div class="d-flex">
        <button
          (click)="dirigirLogin()"
          class="btn btn-outline-primary mx-2"
          type="button"
        >
          Iniciar Sesión
        </button>
        <button
          (click)="dirigirRegister()"
          class="btn btn-outline-danger"
          type="button"
        >
          Registrarse
        </button>
      </div>
    </div>
  </div>
</nav>
