.container-footer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #f8f9fa;
}

.container-icon {
  display: flex;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.text-mid {
  font-weight: normal;
  font-size: 11px;
  text-align: justify;
  color: #000;
  padding: 0 1.5em;
}

.text-side {
  font-weight: normal;
  font-size: 11px;
  color: #000;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.col {
  padding: 2% 6px;
}

@media screen and (max-width: 400px) {
  .container-footer {
    flex-wrap: wrap;
    height: 100px;
  }
}
