<footer>
  <div class="container-footer">
    <div class="container-icon">
      <a class="mr-1"> <i class="icon-facebook"> </i></a>
      <a class="mr-1"> <i class="icon-twitter"> </i></a>
      <a class="mr-1"> <i class="icon-instagram"> </i></a>
    </div>

    <div class="text-mid">&copy;Copyright - Gestion de eventos</div>

    <div class="text-side">
      <a href="www.listoonline.co" class="text-side">www.gestion-eventos.co</a>
    </div>
  </div>
</footer>
