<app-navbar></app-navbar>
<div class="container-login">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form">
        <h5 class="card-title text-center">Iniciar Sesión</h5>
        <div class="row mb-2">
          <div class="col">
            <label for="correo" class="form-label">Correo:</label>
            <input
              [class.is-invalid]="validarCorreoCampo()"
              [class.is-valid]="validarCorreoCampoValido()"
              formControlName="correo"
              type="text"
              class="form-control"
              id="correo"
              placeholder="Ingresa tu correo electrónico"
            />
            <div>
              <small class="text-error" *ngIf="validarCorreo()">
                {{ correoError }}</small
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="password" class="form-label">Contraseña:</label>

            <input
              [class.is-invalid]="validarContrasenaCampo()"
              [class.is-valid]="validarContrasenaCampoValido()"
              formControlName="contrasena"
              type="password"
              class="form-control"
              id="password"
              placeholder="Ingresa tu contraseña"
            />
            <div>
              <small class="text-error" *ngIf="validarContrasena()">
                {{ contrasenaError }}</small
              >
            </div>
          </div>
        </div>
        <div class="col text-center mt-4">
          <button
            (click)="iniciarSesion()"
            type="button"
            class="btn btn-primary"
          >
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-footer class="footer"></app-footer>
</div>
