<div class="slidebar">
  <div class="container-headers">
    <h3 class="text-center py-2">Gestion Eventos</h3>
    <hr />
  </div>
  <div class="container-slidebar">
    <ul class="list-group px-2 list-group-flush">
      <li
        class="list-group-item active list-group-item-action py-4"
        (click)="dirigirPerfil()"
        aria-current="true"
      >
        Perfil
      </li>
      <li
        class="list-group-item list-group-item-action py-4"
        (click)="dirigirEventos()"
      >
        Evento
      </li>
      <li
        class="list-group-item list-group-item-action py-4"
        (click)="dirigirConfiguracion()"
      >
        Configuración
      </li>
    </ul>
  </div>
</div>
