.slidebar {
  box-shadow: 0px 3px 16px -3px #b5afafc4;
}

.container-headers {
  height: 75px;
}

.container-slidebar {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  z-index: 4;
  padding-bottom: 30px;
}
