<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Gestion Eventos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-1 mb-lg-0"></ul>
      <form class="d-flex">
        <input
          class="form-control"
          type="text"
          placeholder="Buscar"
          aria-label="Buscar"
        />
        <button class="btn btn-outline-success mx-2" type="submit">
          Buscar
        </button>
        <button class="btn btn-outline-danger" type="button">
          Cerrar sesión
        </button>
      </form>
    </div>
  </div>
</nav>
