<app-navbar></app-navbar>

<div class="container-register">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form">
        <h5 class="card-title text-center">Registrarse</h5>

        <div class="row mb-2">
          <div class="col">
            <label for="nombre" class="form-label">Nombre completo:</label>
            <input
              [class.is-invalid]="validarNombreCampo()"
              [class.is-valid]="validarNombreCampoValido()"
              formControlName="nombre"
              type="text"
              class="form-control"
              id="nombre"
              placeholder="Ingresa tu nombre completo"
            />

            <div>
              <small class="text-error" *ngIf="validarNombre()">
                {{ nombreError }}</small
              >
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <label for="tipoDocumento" class="form-label"
              >Tipo de documento:</label
            >

            <select
              [class.is-invalid]="validarTipoDocumentoCampo()"
              [class.is-valid]="validarTipoDocumentoCampoValido()"
              formControlName="tipoDocumento"
              id="tipoDocumento"
              class="form-control"
            >
              <option value="" selected>Seleccione una opción</option>
              <option value="CC">CC</option>
              <option value="NIT">NIT</option>
            </select>
            <div>
              <small class="text-error" *ngIf="validarTipoDocumento()">
                {{ tipoDocumentoError }}</small
              >
            </div>
          </div>

          <div class="col">
            <label for="documento" class="form-label">Documento:</label>
            <input
              [class.is-invalid]="validarDocumentoCampo()"
              [class.is-valid]="validarDocumentoCampoValido()"
              formControlName="documento"
              type="text"
              class="form-control"
              id="documento"
              placeholder="Ingresa tu documento"
            />
            <div>
              <small class="text-error" *ngIf="validarDocumento()">
                {{ documentoError }}</small
              >
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <label for="telefono" class="form-label">Telefono:</label>
            <input
              [class.is-invalid]="validarTelefonoCampo()"
              [class.is-valid]="validarTelefonoCampoValido()"
              formControlName="telefono"
              type="text"
              class="form-control"
              id="telefono"
              placeholder="Ingresa tu telefono"
            />
            <div>
              <small class="text-error" *ngIf="validarTelefono()">
                {{ telefonoError }}</small
              >
            </div>
          </div>

          <div class="col">
            <label for="genero" class="form-label">Genero:</label>

            <select
              [class.is-invalid]="validarGeneroCampo()"
              [class.is-valid]="validarGeneroCampoValido()"
              formControlName="genero"
              id="genero"
              class="form-control"
            >
              <option value="" selected>Seleccione una opción</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
            <div>
              <small class="text-error" *ngIf="validarGenero()">
                {{ generoError }}</small
              >
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <label for="correo" class="form-label">Correo:</label>
            <input
              [class.is-invalid]="validarCorreoCampo()"
              [class.is-valid]="validarCorreoCampoValido()"
              formControlName="correo"
              type="text"
              class="form-control"
              id="correo"
              placeholder="Ingresa tu correo electrónico"
            />
            <div>
              <small class="text-error" *ngIf="validarCorreo()">
                {{ correoError }}</small
              >
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label for="contrasena" class="form-label">Contraseña:</label>

            <input
              [class.is-invalid]="validarContrasenaCampo()"
              [class.is-valid]="validarContrasenaCampoValido()"
              formControlName="contrasena"
              type="password"
              class="form-control"
              id="contrasena"
              placeholder="Ingresa tu contraseña"
            />
            <div>
              <small class="text-error" *ngIf="validarContrasena()">
                {{ contrasenaError }}</small
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="confirmarContrasena" class="form-label"
              >Confirmar contraseña:</label
            >

            <input
              [class.is-invalid]="validarContrasenaCampo()"
              [class.is-valid]="validarContrasenaCampoValido()"
              formControlName="confirmarContrasena"
              type="password"
              class="form-control"
              id="confirmarContrasena"
              placeholder="Ingresa tu contraseña"
            />
            <div>
              <small class="text-error" *ngIf="validarContrasena()">
                {{ contrasenaError }}</small
              >
            </div>
          </div>
        </div>
        <div class="col text-center mt-4">
          <button (click)="registrarse()" type="button" class="btn btn-primary">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-footer class="footer"></app-footer>
</div>
