.container-register {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 60px);
}

.card {
  width: 40%;
  margin: 1rem;
}

.footer {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .card {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 90%;
  }
}
