<app-navbar></app-navbar>

<div class="container-home">
  <div class="container-img">
    <img
      src="https://kinsta.com/es/wp-content/uploads/sites/8/2019/01/wordpress-events-plugin-1-1024x512.jpg"
      class="d-block"
      style="margin-right: auto; margin-left: auto"
      alt="..."
    />
  </div>

  

  <app-footer class="fixed-bottom"></app-footer>
</div>
